<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        p {
            color: #333;
            font-size: 1.2em;
        }
    </style>
</head>
<body>
    <!-- <h1>MONARCH Ki application chal rhi h</h1> -->
    <h1>THE PYTHON APPLICATION IS RUNNING !!</h1>
    <p>Hello from Monarch</p>
</body>
</html>